body {
  margin: 0;
  background-color: rgb(245, 250, 255);
  font-family: 'Source Sans Pro', sans-serif;
font-family: 'Zen Antique Soft', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
